beautifulsoup4==4.13.4
faiss-cpu==1.10.0
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.52
langchain-openai==0.3.13
langchain-teddynote==0.3.45
langsmith==0.3.31
openai==1.74.0
python-dotenv==1.1.0
requests==2.32.3
streamlit==1.44.1
matplotlib==3.10.1
scipy==1.15.2
prophet
